# 미들 네임

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 축약해서 나타내는 `shorten`함수를 작성해보세요.

예시)

```python
shorten('Alice Betty Catherine Davis') #=> Alice B. C. Davis
```

In [7]:
# 여기에 코드를 작성하세요.
def shorten(name):
    temp = name.split()
    a= ''
    for i in range(0,len(temp)):
        if i==0 :
            a = a + temp[i] + ' '
        elif i==len(temp)-1:
            a += temp[i]
        else:
            a = a + temp[i][0]+'. '
    return a
print(shorten('Alice Betty Catherine Davis'))

Alice B. C. Davis

In [4]:
#teacher
def shorten(name):
    name_list = name.split()
    for i in range(1,len(name_list)-1):
        name_list[i]= name_list[i][0]+'.'
    return ' '.join(name_list)

In [5]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(shorten('Alice Betty Catherine Davis')) #=> Alice B. C. Davis

Alice B. C. Davis

# 알파벳만 남기고 뒤집기

> 문자열이 주어지면, 해당 문자열 중에서 알파벳이 아닌 문자는 전부 빼고 거꾸로 뒤집어 반환하는 함수 `revers_letter`를 작성하세요.

예시)

```python
reverse_letter("krishan") #=> "nahsirk"
reverse_letter("ultr53o?n") #=> "nortlu"
reverse_letter('asdf?.,/') #=> "fdsa"
```

In [13]:
# 여기에 코드를 작성하세요.
def reverse_letter(string):
    result=[]
    a=''
    for x in string:
        if x.isalpha():
            result.append(x)
    result.reverse()
    for y in result:
        a += y
    return a

In [6]:
#teacher
def reverse_letter(string):
    result = ''
    for char in string:
        if char.isalpha():
            result += char
    return result[::-1]

In [12]:
def reverse_letter(string):
    result = [a for a in string if a.isalpha()]
    return ''.join(result[::-1])

In [13]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(reverse_letter("krishan"))
print(reverse_letter("ultr53o?n"))
print(reverse_letter('asdf?.,/'))

nahsirk
nortlu
fdsa

# 숫자가 좋아

> 스트링과 함께 섞여있는 문자열들 속에서 정수만 뽑아내 합을 반환하는 함수 `pick_and_sum`를 작성하세요.

예시)
```python
pick_and_sum("an8nt12") #=> 20
pick_and_sum("The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog") #=> 3635
```

In [34]:
# 여기에 코드를 작성하세요.
def pick_and_sum(s):
    temp = list(s)
    for i in range(0,len(temp)):
        if temp[i].isdigit() == False:
            temp[i] = ' '
    temp =''.join(temp)
    temp = list(map(int,temp.split()))
    return sum(temp)

In [30]:
#teacher
def pick_and_sum(s):
    for x in s:
        if not x.isdigit():
            s = s.replace(x,' ')
            
    return sum([int(n) for n in s.split()])

In [31]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하세요.
print(pick_and_sum("an8nt12"))
print(pick_and_sum("The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog"))

20
3635

In [62]:
a='nan'
b='abcdedcba'
c='dasdagrhsgafa'

def palindrome(s):
    rever = list(s)
    rever.reverse()
    
    if s == ''.join(rever):
        return True
    else:
        return False
    
def palin_ans(s):
    return s == s[::-1] # s[start:end:]

In [63]:
palindrome(a)

True

In [64]:
palindrome(b)

True

In [65]:
palindrome(c)

False

In [66]:
# HW05_1
my_list = [1,2,3,5,8]

for x in my_list:
    print(x)

1
2
3
5
8

In [68]:
# HW05_2
my_list = [1,2,3,5,8]

for index,n in enumerate(my_list):
    print(f'{index} {n}')

0 1
1 2
2 3
3 5
4 8

In [ ]:
#HW05_3
# for key in keys():
# for value in values():
# for key,value in items():

In [ ]:
#HW05_4

6